<!DOCTYPE html>
<html lang="en">

    <head>
        <title>StrideSync</title>
        
    </head>

    <body>
        <header>
            <h2>Welcome to StrideSync {{ name }}!</h2>
            <h4>A Fun Step-Tracking App</h4>
            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li>Leaderboards</li>
                    <li>Profile</li>

                </ul>
            </nav>
            <a><a href="{% url 'logout' %}">Logout</a>
        </header>

        <main>
            {% block content %}
            <!-- Content will be injected here -->
            {% endblock %}
        </main>

        <footer>
            <p>&copy; 2025 StrideSync. All rights reserved.</p>
        </footer>
    </body>

</html>